h1{
  font-family: "Roboto", serif;
  text-align: center;
}

body{
  background-color: #cce6ff;
  min-width: 1200px;
}

a{
    font-family: "Century Gothic",sans-serif;
    color: #121212;
    text-decoration: none;
}

input [type=text]{
}

.header{
  background-color: #828282;
  border-color: #900C3F;
  margin-bottom: 10px;
  border-radius: 20px;
  height: 200px;
  width: 100%;
}

.titleLogoContainer{
    display: inline-block;
    height: 200px;
    /* max-height: 100%; */
}

.images{
    float: right;
    max-height: 100%;
    object-fit: cover;
}

.options{
  list-style-type: none;
  text-align: center;
  float: left;
}

.options a{
    display: block;
    background-color: #828282;
    padding: 20px;
    margin-bottom: 10px;
}

.loginCredentials{
    padding: 10px;
    margin-left: 20px;
    width:400px;
}

.options a:hover{
    background-color: #ccccff;
}
#titleLogo{
    max-height: 100%;
    alt: bookLogo;
}

#libraryImage{
    max-height: 100%;
    alt: libraryImage;
}

#charges{
  float:right;
  padding: 20px;
}
