h1{
  font-family: "Roboto", serif;
  text-align: center;
}

body{
  background-color: #ffe59e;
  min-width: 1000px
}

a{
    font-family: "Century Gothic",sans-serif;
    color="green";
    text-decoration: none;
}

.header{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #ba2f11;
    border-radius: 20px;
    border-color: #900C3F
}

.images{
    float: right;
    max-height: 100%;
    object-fit: cover;
}

.options{
  list-style-type: none;
  text-align: center;
  float:left;
}
.options a{
    display: block;
    background-color: #ba2f11;
    padding:20px;
    margin-bottom: 10px;
}

.logo{
  background-color: white;
}

.options a:hover{
    background-color: #ffff66;
}
#titleLogo{
    max-width: 'auto';
    max-height: 100%;
    object-fit: cover;
}
