h1{
  font-family: "Roboto", serif;
  text-align: center;
}

body{
  background-color: #ffe59e;
}

a{
    font-family: "Century Gothic",sans-serif;
    color="green";
    text-decoration: none;
}

li a{
  display: block;
  width: 20%;
  background-color: #ba2f11;
  padding:20px;
  margin-bottom: 10px;
}

.header{
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    background-color: #ba2f11;
    border-radius: 20px;
    border-color: #900C3F
}

.navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo{
  background-color: white;
}
.dropbtn {
  background-color: grey;
  color: white;
  padding: 15px 5px;
  font-size: 16px;
  border: none;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display:block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#titleLogo{
    max-width: 'auto';
    max-height: 100%;
    object-fit: cover;
}
